.sidebar {
  width: 70px;
  background-color: var(--bg-primary);
  color: var(--text-main);
  height: 100vh;
  position: relative;
  border-right: 1px solid var(--decent-hover);
  box-shadow: 1px 0 20px var(--bg-secondary);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: var(--transition);
  white-space: nowrap;
  flex-shrink: 0;
  z-index: 1;
}

.sidebar:hover {
  width: 210px;
  overflow-y: auto;
}

/* --- Brand Styles --- */
.brand {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: var(--text-main);
  gap: 15px;
}

.brandIcon {
  font-size: 1.5rem;
  color: var(--color-primary);
  flex-shrink: 0;
}

.brand span span {
  color: var(--color-primary);
}

.menu {
  padding: var(--spacing-m) 0 1rem 0;
}

.menuText,
.arrow {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.sidebar:hover .menuText,
.sidebar:hover .arrow {
  opacity: 1;
  visibility: visible;
}

.sectionTitle {
  font-size: 0.65rem;
  color: var(--text-main);
  text-transform: uppercase;
  padding: var(--spacing-m) 1.5rem 1rem;
  letter-spacing: 1px;
  height: 25px;
}

.sidebar:not(:hover) .sectionTitle {
  padding: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem;
  color: var(--text-main);
  cursor: pointer;
  transition: var(--transition);
  font-size: 0.95rem;
  font-weight: 500;
  border-right: 3px solid transparent;
  background-color: transparent;
}

.menuItem:hover,
.menuItem.active {
  color: var(--text-main);
  background-color: var(--bg-primary);
}

.menuItem.active {
  border-right-color: var(--accent);
  background-color: var(--decent);
}

.icon {
  width: 20px !important;
  height: 20px !important;
  margin-right: 1.2rem;
  flex-shrink: 0;
}

.arrow {
  margin-left: auto;
  font-size: 0.7rem;
}

/* --- Dropdown Sub Menu Styles --- */
.navGroup {
  display: flex;
  flex-direction: column;
}

.subMenu {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.subMenuItem {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.5rem 0.8rem 3.5rem;
  color: var(--text-main);
  cursor: pointer;
  transition: var(--transition);
  font-size: var(--font-size-s);
  font-weight: 500;
  border-right: 3px solid transparent;
}

.subMenuItem:hover {
  color: var(--nav-main);
  border-right-color: var(--accent);
  background-color: var(--decent);
}

.subActive {
  border-right-color: var(--accent);
  background-color: var(--decent);
  color: var(--nav-main);
}

.subIcon {
  width: 14px !important;
  height: 14px !important;
  margin-right: 1rem;
  flex-shrink: 0;
}
