.column {
  border: 1px solid var(--border-color);
  border-radius: var(--radius);
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.columnHeader {
  display: flex;
  align-items: center;
  padding: var(--padding);
  flex-shrink: 0;
  gap: 10px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  overflow: hidden;
}

.titleText {
  color: var(--text-main);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-m);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.countBadge {
  background-color: var(--success);
  color: var(--text-scuccess);
  padding: 2px 8px;
  border-radius: 12px;
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  margin-left: auto;
  flex-shrink: 0;
}

.columnSearch {
  padding: 0 var(--padding);
  flex-shrink: 0;
}

.columnBody {
  padding: var(--padding);
  padding-top: calc(var(--padding) / 2);
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(calc(30% - var(--gap) / 2), 1fr)
  );
  gap: var(--padding-inside);
  flex-grow: 1;
  overflow-y: auto;
  align-content: start;

  scrollbar-width: thin;
  scrollbar-color: var(--accent) transparent;
}

/* Scrollbar - Webkit */
.columnBody::-webkit-scrollbar {
  width: 6px;
}
.columnBody::-webkit-scrollbar-track {
  background: transparent;
}
.columnBody::-webkit-scrollbar-thumb {
  background-color: var(--accent);
  border-radius: 10px;
}
