.card {
  background-color: var(--bg-primary);
  padding: var(--spacing-m);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-m) / 2);
}

.title {
  font-size: var(--font-size-s);
  color: var(--text-muted);
  font-weight: var(--font-weight-bold);
}

.value {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--text-main);
}

.subtitle {
  font-size: var(--font-size-s);
}

.subtitle.success {
  color: var(--success);
}

.subtitle.danger {
  color: var(--accent);
}

.subtitle.neutral {
  color: var(--text-muted);
}

.iconBox {
  width: 50px;
  height: 50px;
  border-radius: var(--img-border-radius);
  background-color: var(--color-primary);
  color: var(--icon-main);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-l);
}
