.btn {
  width: 100%;
  background-color: var(--color-primary);
  color: var(--btn-text-on-solid);
  padding: var(--spacing-m);
  border-radius: var(--radius-m);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-s);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: var(--transition);
  border: none;
  cursor: pointer;
}

.btn:hover {
  filter: brightness(1.1);
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper > * {
  width: 20px !important;
  height: 20px !important;
}
