.btn {
  padding: 0.775rem 1rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--gap) / 2);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
}

.fitContent {
  width: auto;
  min-width: 145px;
}

.fullWidth {
  width: 100%;
}

/* Variants */
.actionBtn {
  min-height: 52px;
  background: var(--accent);
  color: var(--btn-text);
  text-transform: uppercase;
}
.successBtn {
  min-height: 52px;
  background: var(--success);
  color: var(--btn-text);
  text-transform: uppercase;
}
.cancelBtn {
  min-height: 52px;
  background: var(--bg-secondary);
  color: var(--btn-text);
  text-transform: uppercase;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.2);
}

.btn:active:not(:disabled) {
  transform: scale(0.98);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
